*{
    border: 1px solid ;
    box-sizing: border-box;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }