
*{
  border: 1px solid ;
  box-sizing: border-box;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.normal{
  font-weight:normal;
}
:root{
  --sidebar-width:10%;
  --col1-width:65%;
  --col2-width:40%;
  --header-height:11.5vh;
  --border-color: rgb(140, 145, 145);
  --small-txt :16.5px;
  --small-txt-nav :13px;
  --small-txt-color:rgb(99, 98, 98);
  --post-card-hovor-bg : rgba(234, 234, 234, 0.375);
}
body{
  color-scheme: light;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.post-home-form{
  margin-top: 24px;
}
.inline{
  display: inline;
}
.block{
  display: block;
}
.bold{
  font-weight: 600;
}
.i-sizes{
  font-size: 26px;
  color:var(--small-txt-color);
}
.center-v{
  align-items: center;
}
.mr-back{
  margin: 10px 50px 0px 10px;
}
.simple-link{
  text-decoration: none;
  color: rgba(17, 50, 213, 0.918) !important;
}
.muted-txt{
  color: var(--small-txt-color);
}
.borderless{
  border: 0px !important;
}
.flex{
  display: flex;
}
.flex-center-colum{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-line{
  background-color: red;
  border-left: 2px solid var(--border-color);
  height: 100%;
  margin-bottom: 10px;
}
.main-container{
  width: 100%;
  background-color: rgb(255, 255, 255) ;
  /* background-color: rgb(223, 45, 45) ; */
  position:relative;
}

.flex-end{
  display: flex;
  justify-content: space-between;
}

.add-media{
  color: rgb(16, 194, 244);
}
#add-post{
  background-color: rgb(16, 194, 244);
  border-radius: 20px;
  border: 1px;
  color: white;
  padding: 1px 13px 0px 13px;
}
.sidebar{
  background-color: rgb(255, 255, 255) ;
  position: fixed;
  top: 0px;
  /* display: grid; */
  /* justify-content:end; */
  width: var(--sidebar-width);
  min-width
  border-right: 2px solid var(--border-color);
  padding: 0px 8px;
  height:100vh;
  overflow: hidden ;
  /* overflow-y:scroll; */
  /* scrollbar-color: rgba(143, 192, 209, 0.991) white; */
}

/* .container{
  display: flex;
  position:absolute;
  top:-9px;
  width:85%;
  margin-left: calc(var(--sidebar-width) + 5px);
} */

.sidebar a,.sidebar div {
  height: 50px;
  margin: 10px 05px;
  justify-content: center;
  color: rgb(10, 10, 23);
} 
#logo{
  width: 100%;
  height: 100%;
  object-fit:fill;
  /* border: 2px solid yellow; */
  border-radius: 50px;
}
.side-element i{
  font-size:25px ;
  padding: 12px;
  border-radius: 50px;
}
.side-element i:hover{
  background-color: rgba(171, 175, 184, 0.381);
}
.col1,.col1-clone{
  background-color: #eff0ec35;
  width: 60%;
  max-height: 100vh;
  /* overflow-y:auto; */
}
.home-container{
  width:100%;
  /* border: 5px solid red; */
}
.comment-container{
  background-color: white !important;
  width: 50% !important;
  min-width: 430px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px auto;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 5px;
}
.comment-form{
  /* width:unset !important; */
  background-color: white;
  border-radius: 20px;
}
.float-form{
  position: fixed;
  top : 20%;
  /* transform: translateY(-50%); */
  z-index: 9999;
}
.relative{
  position:relative;
}
.form-header{
  display: flex;
  justify-content: space-between;
  margin:5px 0px 10px 0px;
}
.back{
  display: none;
}
.back:hover,.cancel:hover{
  padding: 5px;
  border-radius: 50px;
  background-color: rgba(171, 175, 184, 0.381);
}
#reply-button{
  border-radius:20px ;
  background-color:rgb(27, 188, 246);
  color: white;
  border: 0px;
  padding: 2px 15px;
}
.right-top{
  position: absolute;
  right:2px;
  top: 0px;
}
.right-bottom{
  position: absolute;
  right:2px;
  bottom: 0px;
}
.small-txt{
  font-size:16px;
}
textarea{
  min-width: 100%;
  max-width: 100%;
  max-height: 40vh;
  background-color: unset;
  padding: 12px;
  border: 0px;
  resize:none;
  /* overflow: hidden; */
}
textarea:focus-within{
  outline: none;
  /* background-color: red; */
}
.form-footer{
  display: flex;
  margin:5px 0px 10px 0px;
}
.comment-upload-label{
  color: rgb(12, 130, 234);
}
.comment-upload-label > i{
  width: 80px;
  font-size: 25px;
  /* font-weight: bold; */
}

#comment-file-input{
  /* display: none; */
}

.hidden{
 display: none;
}

.space-fixed{
  position:-webkit-sticky;
  position: sticky;
  top: 70px;
}
.fixed{
  position: fixed;
  top: 5px;
  width: 100%;
}
.cols-container{
  position: relative;
  display: flex;
  background-color: red;
  min-height: 100vh;
  margin-left: calc(var(--sidebar-width) + 3px);
}
.col2{
  /* display: none; */
  /* position: absolute; */
  /* right: 5px; */
  margin-left: 6px;
  top: 0px;
  padding: 10px 20px;
  width: var(--col2-width);
}
.search-icon {
  display: inline;
  position: absolute;
  left: 12px;
  top: 12px;
  color: rgba(115, 112, 112, 0.825);
}
.search-form input{
  width:88%;
  border-radius: 20px;
  height: 2.1rem;
  padding: 0px 39px;
  background-color: rgb(224, 238, 250);
  border: 0px;
}
.relative{
  position: relative;
}
.search-form,.page-header,.sticky-top{
  background-color: rgba(255, 255, 255, 0.95);
  /* background-color: rgba(241, 26, 26, 0.982); */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 5px;
  z-index: 9999;
}
.search-form{
  height: var(--header-height);
}
.page-header{
  height: auto;
  max-width: 600px;
}
.header-txt{
  font-weight: bolder;
  margin-bottom: 10px;
  
}
.header-links{
  display: flex;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}
.header-link{
  text-decoration: none;
  cursor: pointer;
  /* background-color: red; */
  /* background-color: rgba(199, 196, 196, 0.419); */
  padding: 3px 7px 8px 7px ;
  padding: 15px ;
  text-align: center;
  height: 100%;
  color: var(--small-txt-color);
  font-weight: 500;
}
.header-link:focus{
  border-bottom: 3PX SOLID rgb(86, 160, 246);
  border-radius:0px 0px 5px 5px;
  outline: none;
}
.active{ /* tthis is for react NavLink  */
  border-bottom: 2px solid rgb(86, 160, 246);
  border-radius:0px 0px 2px 2px;
  outline: none;
}
.header-link:hover{
  background-color: rgba(199, 196, 196, 0.419);
}
.search-form input:active{
  background-color: rgba(255, 255, 255, 0.169);
  border: 1px solid rgb(99, 206, 233);
}
.posts-container{
  height: max-content;
}
.post-card{
  max-width: 600px;
  display: flex;
  padding-top: 8px;
  /* margin-bottom: 5px; */
  border-bottom: 1px solid rgb(211, 210, 210);
}
.post-card:hover{
  background-color: var(--post-card-hovor-bg)
}
.post-col1{
  width: 15%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid red; */
}
.post-col2{
  width: 85%;
}
.post-header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  /* margin-right: 10px; */
  width: 100%;
}
.post-userdata{
  display: flex;
  width: 90%;
}
.post-dot {
  /* border: 1.5px solid red; */
  display: flex;
  justify-content: end;
  padding-right:8px;
  width: 10%;
  font-size: 17px;
}
.post-dot-container{
  border:2px solid rgba(82, 78, 78, 0.211);
  position: absolute;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  z-index: 9999;
}
.post-dot-container a  span {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-bottom: 13px;
  padding: 0px 7px;
}
.post-dot-container a {
  text-decoration: none;
}
.post-dot-container span:hover{
  background-color: rgba(218, 211, 211, 0.33);
}
.post-name,.post-username,.post-date{
  text-wrap:nowrap;
  overflow-x: hidden;
  margin: 3px 5px 0px 0px ;
}
.post-name{
  max-width: 55%;
  font-size:16px;
  font-weight: bold;
  color:rgb(5, 5, 5);
}
.post-username{
  max-width: 30%;
  font-size:var(--small-txt);
  color: var(--small-txt-color);
}
.post-date{
  font-size:var(--small-txt);
  color: var(--small-txt-color);
}
.post-txt{
  font-size: 0.9rem;
  /* font-size: 15px; */
  margin-top: 10px;
  color: rgb(15, 20, 25);
}
.post-media{
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2px;
  /* max-height: 85%; */
}
.post-image{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 2px solid var(--border-color); */
  border-radius: 3px;
}
.postnav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 3px;
  margin: 10px 0px;
  /* color: red; */
  /* background-color: rgba(199, 203, 203, 0.281); */
}

.profile-image{
  width: 48px;
  height: 48px;
  border-radius:50%;
  margin: 0px auto;
}
.liked{
  font-weight: bold !important;
  color: rgba(255, 4, 4, 0.687) !important;
}
.rotate{
  position: relative;
  transform-origin: 50% 50%;
  animation: like-rotator 100ms ease-out;
}
.reposted{
  color: rgba(4, 111, 18, 0.99) !important;
  font-weight: bold !important;

}
.postnav .post-nav-link div {
  font-size: calc(var(--small-txt) - 1.5px);
  /* font-size: 15px; */
  color: var(--small-txt-color);
  /* color: red; */
}
.post-nav-link{
  text-decoration: none;
  font-weight: bold;
}
.postnav div i:hover ,.post-dot i:hover{
  color:green;
  font-weight: bold;
  background-color: rgba(36, 171, 36, 0.233);
  padding: 3px;
  border-radius: 50px;
}
.comment-form-dialog{
  background-color: rgb(255, 255, 255);
  /* outline: none; */
  border: none;
  max-width: 280px;

  border-radius: 20px;
  /* gap:10px; */
}
.cancel-dialog,.confirm-action{
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 1px solid black;
  width: 100%;
  color: rgb(250, 251, 252);
  margin: 12px ;
  padding: 5px 10px;
  font-weight:600;

}
.confirm-action{
  background-color: rgba(251, 249, 249, 0.896);
  color: black;
}
.confirm-action:hover{
  background-color: rgba(11, 7, 1, 0.586);
  color:white;
}
.dialog-question{
  margin-bottom: 20px;
  font-size: 20px;
}
.absolute{
  position: absolute;
}
.triangle{
  position: absolute;
  bottom: -35px;
  /* left: 3px; */
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid rgb(255, 255, 255);
  transform: rotate(90deg);
}
.tri-content a,.current-account{
  color: black;
  font-size: 16px;
  display: block;
}
.current-account{
  display:inline;
}
.tri-content {
  /* font-size: 14px; */
  padding: 5px 15px ;
  position:fixed;
  left: 2%;
  bottom: 14%;
  background-color: white;
  box-shadow: 10px 8px 16px rgba(86, 72, 72, 0.2);
  z-index: 999;
  width:max-content ;
  border-radius: 12px;
  /* border: 2px solid red; */
}
.loading-container,.failed-container{
  background-color: rgb(198, 243, 246);
  width:max-content;
  font-size: 14px !important;
  text-align: center;
  color: rgb(6, 136, 175) !important;
  border-radius: 6px;
  padding: 1px 15px;
  position: fixed;
  top:-40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
 
}
.loading-spinner{
  font-size: 25px;
  color: rgb(2, 27, 27);
  position: fixed;
  top:10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.failed-container{
  color: rgb(205, 3, 3) !important;
  background-color: rgba(240, 205, 202, 0.641);
}
.error-container{
  text-align: center;
  margin: 100px auto;
  margin-top: 100px;
  color: rgb(213, 1, 1);
  background-color: bisque;
  width: 50%;
  font-weight: bolder;
  border-radius: 10px;
}
@media screen and (max-width:1000px) {
  .col2{
      display: none;
  }
  .col1,.col1-clone{
      width: 100%;
      max-width: 680px;
      /* max-height: 100vh; */

  }
  
  
}
@media screen and (max-width:650px) {
  .comment-container{
    height: 100vh;
    width: 100vw !important;
    border: 0px solid var(--border-color);
    padding: 20px 19px 0px 20px !important;
  }
  .float-form{
    top : 0px;
  }
  .cancel{
    display: none;
  }
  .back{
    display: block;
  }
}
.post-detail-page > div{
  /* background-color: red; */
  /* padding-top: 15%; */
  position: absolute;
  top:60px;
  /* left: 30px; */
}

@keyframes like-rotator {
  0% {
      transform: rotate(0deg);
  }
  50% {
      /* background-color: blueviolet; */
  }
  75% {
      /* background-color:rgba(9, 123, 92, 0.46) ; */
      /* color: blue; */
  }
  100% {
      transform: rotate(360deg);
  }
}
